body{
    margin: 0;
}
h1 {
    font-size: large;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavenderblush;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: mistyrose;
    box-shadow:9px 11px 54px 22px rgba(166,138,166,1) ;
    height: 50%;
    width: 80%;

}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    wrap-option: wrap;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 1em;
    padding: 0 0 0 2em;

}
.negatives{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;

}


.positives{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;

}
.button{
    background: lightpink;
    border: 1px plum;
    /*box-shadow:1px 3px 5px 4px rgba(166,138,166,1) ;*/
    font-size: large;
    /*margin: 5px;*/


}
.number{
    font-size: large;
    background: lightpink;
    padding: .5em;
    margin: .5em;
}
.submit{

    background: pink;
    font-size: medium;
}

.reset{

    background: hotpink;
    font-size: medium;
}




